{% extends "global/prototypes_base.html" %}

{% block body_classes %}prototypes-index{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Land registry</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "includes/prototypes_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="heading-xlarge">
          HTML Prototypes
        </h1>

        <h2 class="heading-large">Introduction</h2>
        <div class="text">
          <p>This is a place where we iterate wildly.</p>

          <p>This page acts as an index to the various prototypes and ideas we’re having.</p>

          <p>Full history resides in github repo, and not here as 'older' or previous versions</p>
        </div>

        <h3 class="heading-medium">Conveyancer creates a case</h3>
        <ul>
          <li><strong>1.</strong> <a href="charges/conveyancer-start">Conveyancer creates case</a></li>
        </ul>

        <h3 class="heading-medium">Confirm a relationship</h3>
        <ul>
          <li><strong>2.</strong> <a href="charges/client-start">First citizen (of a couple) enters code and confirms relationship with conveyancer</a></li>
        </ul>

        <h3 class="heading-medium">Conveyancer draws up mortgage deed and sends to client</h3>

        <h3 class="heading-medium">Signing Mortgage Deed</h3>
        <ul>
          <li><strong>4.</strong> <a href="charges/citizen-1-email">First citizen (of a couple) signs a mortgage deed</a></li>
        </ul>
      </div>
    </div>


  </div>

</main>

{% endblock %}
